<!DOCTYPE html>
<head>
    <!-- CSS only -->
<title>Server TEMP Monitor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <div class="container">
        <h1>Welecome to Server TEMP Viewer</h1>

        <div id="server-temperature-div">
            <!-- dynamic created by js -->
        </div>

    </div>

<script>

    var socket = undefined;

    $(document).ready(function(){
    
        var colors = {'good':'bg-success','warning':'bg-warning','danger':'bg-danger'};

        namespace = '/ws_cpu_temp';
        socket = io.connect(namespace);
        var server = $('#server-temperature-div')

        socket.on('server temperature',function(msg){
            
            server.empty()
            for (const[device,props] of Object.entries(msg)){

                progress_bar = $('<div/>')
                progress_bar.addClass('progress')
                
                label = $('<h5/>')
                label.text(device + ' Temperature: ' + props.temperature + '°C')

                progress_item = $('<div/>')
                progress_item.addClass('progress-bar')
                progress_item.attr('rule','progressbar')
                progress_item.attr('aria-valuemin','0')
                progress_item.attr('aria-valuemax','100')
                progress_item.innerHTML = props.temperature
                progress_item.css('width',props.temperature +'%')

                if (props.temperature < 50)
                    progress_item.addClass(colors['good'])
                else if (props.temperature > 50 && props.temperature < 55)
                    progress_item.addClass(colors['warning'])
                else
                    progress_item.addClass(colors['danger'])

                progress_bar.append(progress_item)
                server.append(label)
                server.append(progress_bar)
            };
        });
       
    });

</script>

</body>
